<header>
  <div>
    <label class="label-trello">Trello</label>
  </div>
  <div>
    <input [(ngModel)]="inputList" class="input-add" type="text" placeholder="Add list" (keyup.enter)="addNewList()">
    <button class="button-add" (click)="addNewList()">➕</button>
  </div>
  <div class="section-log-out">
    <a class="log-out" (click)="logOut()">👨‍💻<label class="label-log-out">Log out</label></a>
  </div>
</header>

<section>
  <div class="body-section" *ngIf="data">
    <app-lists *ngFor="let element of data.lists" [list]="element" [serviceFather]="service"></app-lists>
  </div>
</section>
<simple-notifications></simple-notifications>
