<header>
  <div>
    <input [(ngModel)]="inputList" class="input-agregar" type="text" placeholder="Add list" (keyup.enter)="addNewList()">
    <button class="boton-agregar" (click)="addNewList()">➕</button>
  </div>
  <div>
    <button class="log-out">👨‍💻</button>
  </div>
</header>

<section>
  <div class="body-section" *ngIf="data">
    <app-lists *ngFor="let element of data.lists" [list]="element" [serviceFather]="service"></app-lists>
  </div>
</section>
<simple-notifications></simple-notifications>
