header {
    height: 18vh;
    width: auto;
    background: linear-gradient(to bottom, rgb(4, 4, 182), rgb(4, 97, 236));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    border-bottom: 1px silver solid;
}
section {
    min-height: 82vh;
    width: auto;
    background: linear-gradient(to bottom, rgb(158, 158, 158), rgb(204, 204, 204));
    box-sizing: border-box;
}
.body-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.input-agregar {
    border-radius: 5px;
    height: 3vh;
    background: linear-gradient(to bottom, rgb(180, 180, 180), rgb(236, 236, 236));
}

.boton-agregar {
    margin-left: 5px;
    text-align: center;
    height: 5vh;
    width: 3.5vw;
    border-radius: 50%;
}