header {
  height: 18vh;
  width: auto;
  background: linear-gradient(to bottom, rgb(4, 4, 182), rgb(4, 97, 236));
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: white;
  box-sizing: border-box;
  border-bottom: 1px silver solid;
}

section {
  min-height: 82vh;
  width: auto;
  background: linear-gradient(to top, rgb(76, 76, 187), rgb(99, 151, 228));
  box-sizing: border-box;
}

.body-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-add {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 3.5vh;
  background: linear-gradient(to bottom, rgb(180, 180, 180), rgb(236, 236, 236));
}

.button-add {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 2.5vh;
  text-align: center;
  height: 4.5vh - 0.1vh;
  width: 3vw;
  background: linear-gradient(to bottom, rgb(226, 114, 8), rgb(236, 174, 3));
  border: 0.1vh rgb(238, 123, 46) solid;
}
.section-log-out{
  border-left: 1px silver solid;
  border-right: 1px silver solid;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
}
.log-out {
  font-size: 10vh;
  color: white;
}
.button-log-out {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.label-trello {
  font-size: 6vh;
  font-weight: bold;
}

.trello-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
