<div class="card-grid">
  <div class="card-name">
    <label *ngIf="!modTask" class="list-name" (dblclick)="modTask = !modTask">{{ task.name }}</label>
    <input *ngIf="modTask" class="input-name" type="text" value="{{ task.name }}" placeholder="Name" (keyup.enter)="updateNameTask($event)" (blur)="modTask = !modTask">
  </div>
  <div class="controls card-buttons">
    <input *ngIf="!modTask" type="button" class="button-list button-edit" value="✏️" (click)="modTask = !modTask">
    <input *ngIf="modTask" type="button" class="button-list button-edit" value="📝" (click)="modTask = !modTask">
    <input type="button" class="button-list" value="❌" (click)="deleteCardTask()">
    <input *ngIf="!watchTask" type="button" class="button-list" value="🔍" (click)="watchTask = !watchTask">
    <input *ngIf="watchTask" type="button" class="button-list" value="👀" (click)="watchTask = !watchTask">
  </div>
  <div [style.background]="task.color" class="color-border">
  </div>
  <div *ngIf="watchTask" class="details-task">
    <p>
      <label *ngIf="!modDescTask" (dblclick)="modDescTask = !modDescTask">Description: {{ task.description }}</label>
      <input *ngIf="modDescTask" class="input-name input-desc" type="text" value="{{ task.description }}" placeholder="Description" (keyup.enter)="updateDescriptionTask($event)">
      <input *ngIf="!modDescTask" type="button" class="button-list button-edit" value="✏️" (click)="modDescTask = !modDescTask">
      <input *ngIf="modDescTask" type="button" class="button-list button-edit" value="📝" (click)="modDescTask = !modDescTask">
    </p>
    <input class="size-small" [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="updateColorTask($event)" />🖌
  </div>
</div>
