@import '../lists/lists.component.scss';

.card-index {
  display: grid;
  grid-template-columns: 3.5fr 5fr 0.5fr;
  background: linear-gradient(to right, rgb(248, 44, 44), rgb(150, 50, 150));
  align-items: center;
  width: 80%;
  height: 8vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2vh;
  border-radius: 5px;
  color: white;
  font-size: 5vh;
  box-sizing: border-box;
}

.color-border {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
}

.card-index:hover .controls {
  opacity: 1;
}

.details-task {
  background-color: silver;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2vh;
  box-sizing: border-box;
}

.size-small {
  width: 1.5vw;
}
