.card-index {
    display: grid;
    grid-template-columns: 3.5fr 2fr 0.5fr;
    background: linear-gradient(to bottom, rgb(180, 180, 180), rgb(236, 236, 236));
    align-items: center;
    width: 80%;
    height: 8vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2vh;
    border-radius: 5px;
}

.color-border {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
}