<section>
  <div class="section-list-name">
    <div>
      <label *ngIf="!modName" class="list-name">{{ list.name }}</label>
      <input *ngIf="modName" class="input-name" type="text" value="{{ list.name }}" placeholder="Name" (keyup.enter)="update($event)">
    </div>
    <div>
      <input *ngIf="!modName" type="button" class="button-list button-edit" value="✏️" (click)="modName = !modName">
      <input *ngIf="modName" type="button" class="button-list button-edit" value="📝" (click)="modName = !modName">
      <input type="button" class="button-list" value="❌" (click)="delete()">
    </div>
  </div>
  <div *ngIf="list.tasks">
    <div *ngFor="let task of list.task"></div>
  </div>
  <input type="text" class="input-name" placeholder="Add task">
</section>
