section {
  background: linear-gradient(to bottom, rgb(226, 114, 8), rgb(236, 174, 3));
  width: 30vw;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  padding-bottom: 2vh;
}

.button-list {
  font-size: 3vh;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.button-edit {
  padding-left: 30px;
}

.list-name {
  font-size: 6vh;
  color: white;
}

.input-name {
  height: 3vh;
  width: 80%;
  margin-bottom: 1vh;
  margin-top: 1vh;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgb(180, 180, 180), rgb(236, 236, 236));
}

.section-list-name {
  margin-bottom: 3vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  border-bottom: 1px white solid;
}

.controls {
  opacity: 0;
  transition: opacity 400ms;
}

.section-list-name:hover .controls {
  opacity: 1;
}

i {
  cursor: pointer;
}
