<header>
  <h1>Login</h1>
  <input class="to-reg-log" type="button" routerLink="/register" routerLinkActive="active" value="Register">
</header>

<section>
  <div>
    <label>Username:</label>
    <p><input class="input-agregar" type="text" placeholder="Username" name="username" [(ngModel)]="usernameLogin"
        required></p>
    <label>Password:</label>
    <p><input class="input-agregar" type="password" placeholder="Password" name="pass" [(ngModel)]="passLogin"
        required></p>
    <div class="div-button-submit"><input class="button-submit" type="submit" value="Login" (click)="login()"></div>
  </div>
</section>
