<header>
  <h1>Login</h1>
  <input class="to-reg-log" type="button" routerLink="/register" routerLinkActive="active" value="Register">
</header>

<section>
  <form (submit)="login()">
    <label>Username:</label>
    <p><input class="input-agregar" type="text" placeholder="Username" name="username" [(ngModel)]="usernameLogin"></p>
    <label>Password:</label>
    <p><input class="input-agregar" type="password" placeholder="Password" name="pass" [(ngModel)]="passLogin"></p>
    <div class="button-submit"><input type="submit" value="Login"></div>
  </form>
</section>
